<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>スタッフ登録完了</title>
    </head>
    <body>
        <div>スタッフの登録が完了しました</div>
        <div><a href="">スタッフ一覧</a></div>
        <div>{{ dump(dataArr) }}</div>
        <div>{{ dump(errArr) }}</div>
    </body>
</html>