<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>スタッフ削除完了</title>
    </head>
    <body>
        <div>スタッフの登録を削除しました</div>
        <div><a href="">スタッフ一覧</a></div>
    </body>
</html>