<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>スタッフ編集完了</title>
    </head>
    <body>
        <div>スタッフの情報を編集しました</div>
        <div><a href="">スタッフ一覧</a></div>
    </body>
</html>