<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>退会完了</title>
    </head>
    <body>
        <div>ご利用ありがとうございました。</div>
        <div><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}list_guest.php">商品一覧へ</a></div>
    </body>
</html>