<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>お問い合わせ完了</title>
    </head>
    <body>
        <div>お問い合わせを受け取りました</div>
        <div><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}list.php">商品一覧へ</a></div>
    </body>
</html>