<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>メニュー画面</title>
    </head>
    <body>
        <a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}staff_list.php">スタッフ一覧</a>
    </body>
</html>