<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ログアウト画面</title>
    </head>
    <body>
        <div>ログアウトしました</div>
        <div><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}login.php">ログイン画面へ</a></div>
    </body>
</html>