<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link href="{{constant('shop\\Bootstrap::APP_URL')}}css/shop.css" rel="stylesheet">
        <title>注文完了画面</title>
    </head>
    <body>
        <div>
            <h2>注文を受け付けました。</h2>
            <h3>ご登録いただいているメールアドレスに、注文内容及び振込詳細を送信しましたので<br>
                ご確認宜しくお願いいたします。</h3>
        </div>
        <div><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}list.php">商品一覧</a></div>
        <div><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}logout.php">ログアウト</a></div>
    </body>
</html>